<header>
  <div class="navbar-main">
      <div class="nav-logo">
          <div>
              <img src="../../../assets/logo-chilecargo.png" alt="">
          </div>
          <div>
              <button>Trabaja con Nosotros</button>
          </div>
      </div>

      <img class="menu-icon" src="./../../../assets/bars-solid.svg" width="20px" alt="burguer-menu">


      <div class="nav-main">
          <nav>
              <ul>
                  <li class="button-mobil"><a href="">Trabaja con Nosotros</a></li>
                  <li><a href="">Contactenos</a></li>
                  <li><a href="">Productos y servicios</a></li>
                  <li><a href="">Quienes Somos</a></li>
                  <li><a href="">Home</a></li>
              </ul>
          </nav>
      </div>
  </div>
</header>
